body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1200px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2075_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:52px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2075 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:52px;
}
#u2076 {
  position:absolute;
  left:2px;
  top:18px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2077_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:52px;
}
#u2077 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:52px;
}
#u2078 {
  position:absolute;
  left:2px;
  top:18px;
  width:61px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2079_div {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Tahoma-Bold', 'Tahoma Negreta', 'Tahoma Normal', 'Tahoma';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u2079 {
  position:absolute;
  left:75px;
  top:8px;
  width:241px;
  height:40px;
  font-family:'Tahoma-Bold', 'Tahoma Negreta', 'Tahoma Normal', 'Tahoma';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u2080 {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  white-space:nowrap;
}
#u2081 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2082_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2082 {
  position:absolute;
  left:1062px;
  top:17px;
  width:43px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2083 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u2084_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 102, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2084 {
  position:absolute;
  left:1132px;
  top:15px;
  width:44px;
  height:23px;
}
#u2085 {
  position:absolute;
  left:2px;
  top:2px;
  width:40px;
  word-wrap:break-word;
}
#u2086_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u2086 {
  position:absolute;
  left:993px;
  top:12px;
  width:30px;
  height:30px;
}
#u2087 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2088_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:26px;
  height:26px;
}
#u2088 {
  position:absolute;
  left:1013px;
  top:8px;
  width:16px;
  height:16px;
}
#u2089 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  word-wrap:break-word;
}
#u2091_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:36px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2091 {
  position:absolute;
  left:0px;
  top:52px;
  width:1200px;
  height:36px;
}
#u2092 {
  position:absolute;
  left:2px;
  top:10px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2093 {
  position:absolute;
  left:51px;
  top:53px;
  width:924px;
  height:34px;
}
#u2093_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:930px;
  height:40px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u2094 {
  position:absolute;
  left:0px;
  top:0px;
  width:929px;
  height:39px;
}
#u2095_img {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:34px;
}
#u2095 {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:34px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2095_img.mouseOver {
}
#u2095.mouseOver {
}
#u2096 {
  position:absolute;
  left:2px;
  top:8px;
  width:150px;
  word-wrap:break-word;
}
#u2097_img {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:34px;
}
#u2097 {
  position:absolute;
  left:154px;
  top:0px;
  width:154px;
  height:34px;
}
#u2097_img.mouseOver {
}
#u2097.mouseOver {
}
#u2098 {
  position:absolute;
  left:2px;
  top:8px;
  width:150px;
  word-wrap:break-word;
}
#u2099_img {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:34px;
}
#u2099 {
  position:absolute;
  left:308px;
  top:0px;
  width:154px;
  height:34px;
}
#u2099_img.mouseOver {
}
#u2099.mouseOver {
}
#u2100 {
  position:absolute;
  left:2px;
  top:8px;
  width:150px;
  word-wrap:break-word;
}
#u2101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:34px;
}
#u2101 {
  position:absolute;
  left:462px;
  top:0px;
  width:154px;
  height:34px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2101_img.mouseOver {
}
#u2101.mouseOver {
}
#u2102 {
  position:absolute;
  left:2px;
  top:8px;
  width:150px;
  word-wrap:break-word;
}
#u2103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:34px;
}
#u2103 {
  position:absolute;
  left:616px;
  top:0px;
  width:154px;
  height:34px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2103_img.mouseOver {
}
#u2103.mouseOver {
}
#u2104 {
  position:absolute;
  left:2px;
  top:8px;
  width:150px;
  word-wrap:break-word;
}
#u2105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:34px;
}
#u2105 {
  position:absolute;
  left:770px;
  top:0px;
  width:154px;
  height:34px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2105_img.mouseOver {
}
#u2105.mouseOver {
}
#u2106 {
  position:absolute;
  left:2px;
  top:8px;
  width:150px;
  word-wrap:break-word;
}
#u2107_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1012px;
  height:30px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u2107 {
  position:absolute;
  left:0px;
  top:89px;
  width:1012px;
  height:30px;
  text-align:left;
}
#u2108 {
  position:absolute;
  left:2px;
  top:8px;
  width:1008px;
  word-wrap:break-word;
}
#u2109_div {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 51, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u2109 {
  position:absolute;
  left:1012px;
  top:89px;
  width:188px;
  height:30px;
  font-size:12px;
  color:#FFFFFF;
}
#u2110 {
  position:absolute;
  left:2px;
  top:6px;
  width:184px;
  word-wrap:break-word;
}
#u2111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:15px;
}
#u2111 {
  position:absolute;
  left:51px;
  top:97px;
  width:20px;
  height:15px;
}
#u2112 {
  position:absolute;
  left:2px;
  top:0px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2113_div {
  position:absolute;
  left:0px;
  top:0px;
  width:464px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u2113 {
  position:absolute;
  left:74px;
  top:96px;
  width:464px;
  height:17px;
  font-size:12px;
}
#u2114 {
  position:absolute;
  left:0px;
  top:0px;
  width:464px;
  word-wrap:break-word;
}
#u2115_div {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:683px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2115 {
  position:absolute;
  left:0px;
  top:123px;
  width:400px;
  height:683px;
}
#u2116 {
  position:absolute;
  left:2px;
  top:334px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:790px;
  height:608px;
}
#u2117 {
  position:absolute;
  left:410px;
  top:151px;
  width:790px;
  height:608px;
}
#u2118 {
  position:absolute;
  left:2px;
  top:296px;
  width:786px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2119_div {
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:141px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2119 {
  position:absolute;
  left:8px;
  top:127px;
  width:381px;
  height:141px;
}
#u2120 {
  position:absolute;
  left:2px;
  top:62px;
  width:377px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:104px;
}
#u2121 {
  position:absolute;
  left:17px;
  top:150px;
  width:167px;
  height:104px;
}
#u2122 {
  position:absolute;
  left:2px;
  top:44px;
  width:163px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2123_div {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u2123 {
  position:absolute;
  left:194px;
  top:161px;
  width:175px;
  height:17px;
  font-size:12px;
}
#u2124 {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  word-wrap:break-word;
}
#u2125_div {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2125 {
  position:absolute;
  left:194px;
  top:178px;
  width:175px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2126 {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  word-wrap:break-word;
}
#u2127_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u2127 {
  position:absolute;
  left:194px;
  top:224px;
  width:49px;
  height:20px;
  font-size:11px;
}
#u2128 {
  position:absolute;
  left:2px;
  top:2px;
  width:45px;
  white-space:nowrap;
}
#u2129_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2129 {
  position:absolute;
  left:17px;
  top:131px;
  width:37px;
  height:20px;
}
#u2130 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u2131_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u2131 {
  position:absolute;
  left:340px;
  top:131px;
  width:29px;
  height:20px;
  font-size:11px;
}
#u2132 {
  position:absolute;
  left:2px;
  top:2px;
  width:25px;
  word-wrap:break-word;
}
#u2133_div {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2133 {
  position:absolute;
  left:194px;
  top:197px;
  width:189px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2134 {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  word-wrap:break-word;
}
#u2135_div {
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:141px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2135 {
  position:absolute;
  left:8px;
  top:275px;
  width:381px;
  height:141px;
}
#u2136 {
  position:absolute;
  left:2px;
  top:62px;
  width:377px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:104px;
}
#u2137 {
  position:absolute;
  left:17px;
  top:298px;
  width:167px;
  height:104px;
}
#u2138 {
  position:absolute;
  left:2px;
  top:44px;
  width:163px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2139_div {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u2139 {
  position:absolute;
  left:194px;
  top:309px;
  width:175px;
  height:17px;
  font-size:12px;
}
#u2140 {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  word-wrap:break-word;
}
#u2141_div {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2141 {
  position:absolute;
  left:194px;
  top:326px;
  width:175px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2142 {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  word-wrap:break-word;
}
#u2143_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u2143 {
  position:absolute;
  left:194px;
  top:372px;
  width:49px;
  height:20px;
  font-size:11px;
}
#u2144 {
  position:absolute;
  left:2px;
  top:2px;
  width:45px;
  white-space:nowrap;
}
#u2145_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2145 {
  position:absolute;
  left:17px;
  top:279px;
  width:37px;
  height:20px;
}
#u2146 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u2147_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u2147 {
  position:absolute;
  left:340px;
  top:279px;
  width:29px;
  height:20px;
  font-size:11px;
}
#u2148 {
  position:absolute;
  left:2px;
  top:2px;
  width:25px;
  word-wrap:break-word;
}
#u2149_div {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2149 {
  position:absolute;
  left:194px;
  top:345px;
  width:189px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2150 {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  word-wrap:break-word;
}
#u2151_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u2151 {
  position:absolute;
  left:704px;
  top:672px;
  width:30px;
  height:30px;
}
#u2152 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2153 {
  position:absolute;
  left:682px;
  top:244px;
  width:350px;
  height:339px;
  overflow:hidden;
  visibility:hidden;
}
#u2153_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:339px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2153_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2154_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:269px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2154 {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:269px;
}
#u2155 {
  position:absolute;
  left:2px;
  top:126px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2156_img {
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:205px;
}
#u2156 {
  position:absolute;
  left:6px;
  top:6px;
  width:336px;
  height:205px;
}
#u2157 {
  position:absolute;
  left:2px;
  top:94px;
  width:332px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2158_img {
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:38px;
}
#u2158 {
  position:absolute;
  left:6px;
  top:217px;
  width:336px;
  height:38px;
}
#u2159 {
  position:absolute;
  left:2px;
  top:11px;
  width:332px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2160_div {
  position:absolute;
  left:0px;
  top:0px;
  width:790px;
  height:28px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2160 {
  position:absolute;
  left:410px;
  top:123px;
  width:790px;
  height:28px;
}
#u2161 {
  position:absolute;
  left:2px;
  top:6px;
  width:786px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2162_div {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:28px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2162 {
  position:absolute;
  left:410px;
  top:123px;
  width:106px;
  height:28px;
}
#u2163 {
  position:absolute;
  left:2px;
  top:5px;
  width:102px;
  word-wrap:break-word;
}
#u2164_div {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:28px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2164 {
  position:absolute;
  left:526px;
  top:123px;
  width:106px;
  height:28px;
}
#u2165 {
  position:absolute;
  left:2px;
  top:5px;
  width:102px;
  word-wrap:break-word;
}
