body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1200px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1419_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:52px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1419 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:52px;
}
#u1420 {
  position:absolute;
  left:2px;
  top:18px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1421_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:52px;
}
#u1421 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:52px;
}
#u1422 {
  position:absolute;
  left:2px;
  top:18px;
  width:61px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1423_div {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Tahoma-Bold', 'Tahoma Negreta', 'Tahoma Normal', 'Tahoma';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u1423 {
  position:absolute;
  left:75px;
  top:8px;
  width:241px;
  height:40px;
  font-family:'Tahoma-Bold', 'Tahoma Negreta', 'Tahoma Normal', 'Tahoma';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u1424 {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  white-space:nowrap;
}
#u1425 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1426_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1426 {
  position:absolute;
  left:1062px;
  top:17px;
  width:43px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1427 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u1428_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 102, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1428 {
  position:absolute;
  left:1132px;
  top:15px;
  width:44px;
  height:23px;
}
#u1429 {
  position:absolute;
  left:2px;
  top:2px;
  width:40px;
  word-wrap:break-word;
}
#u1430_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1430 {
  position:absolute;
  left:993px;
  top:12px;
  width:30px;
  height:30px;
}
#u1431 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1432_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:26px;
  height:26px;
}
#u1432 {
  position:absolute;
  left:1013px;
  top:8px;
  width:16px;
  height:16px;
}
#u1433 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  word-wrap:break-word;
}
#u1435_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:700px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1435 {
  position:absolute;
  left:0px;
  top:52px;
  width:161px;
  height:700px;
}
#u1436 {
  position:absolute;
  left:2px;
  top:342px;
  width:157px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1437 {
  position:absolute;
  left:0px;
  top:153px;
  width:161px;
  height:217px;
}
#u1437_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:167px;
  height:223px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u1438 {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:222px;
}
#u1439_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:43px;
}
#u1439 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:43px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1440 {
  position:absolute;
  left:2px;
  top:12px;
  width:157px;
  word-wrap:break-word;
}
#u1441_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:40px;
}
#u1441 {
  position:absolute;
  left:0px;
  top:43px;
  width:161px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1442 {
  position:absolute;
  left:2px;
  top:11px;
  width:157px;
  word-wrap:break-word;
}
#u1443_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:46px;
}
#u1443 {
  position:absolute;
  left:0px;
  top:83px;
  width:161px;
  height:46px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1444 {
  position:absolute;
  left:2px;
  top:14px;
  width:157px;
  word-wrap:break-word;
}
#u1445_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:44px;
}
#u1445 {
  position:absolute;
  left:0px;
  top:129px;
  width:161px;
  height:44px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1446 {
  position:absolute;
  left:2px;
  top:13px;
  width:157px;
  word-wrap:break-word;
}
#u1447_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:44px;
}
#u1447 {
  position:absolute;
  left:0px;
  top:173px;
  width:161px;
  height:44px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1448 {
  position:absolute;
  left:2px;
  top:13px;
  width:157px;
  word-wrap:break-word;
}
#u1449 {
  position:absolute;
  left:161px;
  top:0px;
  width:161px;
  height:172px;
  visibility:hidden;
}
#u1449_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:167px;
  height:178px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u1450 {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:177px;
}
#u1451_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:43px;
}
#u1451 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:43px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1451_img.mouseOver {
}
#u1451.mouseOver {
}
#u1452 {
  position:absolute;
  left:2px;
  top:12px;
  width:157px;
  word-wrap:break-word;
}
#u1453_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:43px;
}
#u1453 {
  position:absolute;
  left:0px;
  top:43px;
  width:161px;
  height:43px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1453_img.mouseOver {
}
#u1453.mouseOver {
}
#u1454 {
  position:absolute;
  left:2px;
  top:12px;
  width:157px;
  word-wrap:break-word;
}
#u1455_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:43px;
}
#u1455 {
  position:absolute;
  left:0px;
  top:86px;
  width:161px;
  height:43px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1455_img.mouseOver {
}
#u1455.mouseOver {
}
#u1456 {
  position:absolute;
  left:2px;
  top:12px;
  width:157px;
  word-wrap:break-word;
}
#u1457_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:43px;
}
#u1457 {
  position:absolute;
  left:0px;
  top:129px;
  width:161px;
  height:43px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1457_img.mouseOver {
}
#u1457.mouseOver {
}
#u1458 {
  position:absolute;
  left:2px;
  top:12px;
  width:157px;
  word-wrap:break-word;
}
